################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorAPI/.vs
/BlazorAPI/bin/Debug/net6.0
/BlazorAPI/obj
/BlazorClient/bin/Debug/net6.0
/BlazorClient/node_modules
/BlazorClient/obj
/BusinessLayer/bin/Debug/net6.0
/BusinessLayer/obj
/DataLayer/bin/Debug/net6.0
/DataLayer/Debug/net6.0
/DataLayer/obj
/node_modules
