@page "/UserCard"
@layout IndexLayout
<!-- User Card -->
   <div class="card">
      <div class="card-body">
         <div class="user-avatar-section">
               <div class="d-flex align-items-center flex-column">
                                            <img class="img-fluid rounded mt-2 mb-2" src="app-assets/images/portrait/small/avatar-s-1.jpg" height="110" width="110" alt="User avatar" />
                                            <div class="user-info text-center">
                                                <h4>Mayank Kumar Sharma</h4>
                                                <span class="badge bg-light-secondary">Lead Software Developer</span>
                                            </div>
                                        </div>
           </div>
           <hr />
            <div class="info-container">
              <ul class="list-unstyled">
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Emp. ID:</span>
                                                <span>1001001</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Name:</span>
                                                <span>Mayank Kumar Sharma</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Email:</span>
                                                <span>mayank.sharma@alcyone.in</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Status:</span>
                                                <span class="badge bg-light-success">Active</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Role:</span>
                                                <span>Lead Software Developer</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Contact:</span>
                                                <span>8103561887</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Emergency Contact:</span>
                                                <span>9111023020</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Blood Group:</span>
                                                <span>O+</span>
                                            </li>

                                        </ul>
            <div class="d-flex justify-content-center pt-2">
                 <a href="Profile" class="btn btn-outline-info suspend-user">View Full Profile</a>
            </div>
         </div>
     </div>
   </div>
 <!-- /User Card -->